<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BikeShop</title>
    <script src="https://kit.fontawesome.com/3489b39c19.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
</head>
<body class="container">
    <partial name="Partials/_Header"/>
    <hr/>

    <main>
        @RenderBody()
    </main>

    <partial name="Partials/_Footer"/>

    <script src="js/main.js"></script>
</body>
</html>
