@using Microsoft.AspNetCore.Identity
@using BikeShop.Entities

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@* @if (SignInManager.IsSignedIn(User) && await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "admin")) *@
@* { *@
@*     <li class="nav-item"> *@
@*         <div class="nav-item-anchor">Manage</div> *@
@*     </li> *@
@* } *@

@if (SignInManager.IsSignedIn(User))
{
    <li class="padding secondary-nav-btn-2 ">
        <p>Manage</p>
        <div class="secondary-nav-2">
            <a class="padding" asp-controller="Bike" asp-action="CreateBike">Link</a>
            <a class="padding" asp-controller="Home" asp-action="Index">Link</a>
            <a class="padding" asp-controller="Home" asp-action="Index">Link</a>
        </div>
    </li>
}