<header>
    <div class="logo-bar">
        <div class="logo">
            <h1>Bike Shop</h1>
        </div>
        
        <div class="buttons">
            
            <div class="search">
                        <form method="get">
                            <input type="text" placeholder="Search"/>
                        </form>
            </div>
            
            <button class="switch-light-dark">
                <i class="fa-sharp fa-solid fa-moon"></i>
                <i class="fa-solid fa-sun hide"></i>
            </button>

            <button class="burger">
                <i class="fa-solid fa-bars"></i>
                <i class="fa-solid fa-xmark hide"></i>
            </button>
            
        </div>
        
    </div>
    <div class="nav">
        <nav>
                <ul>
                    <li class="nav-item"><a class="nav-item-anchor" asp-controller="Home" asp-action="Index">Link</a></li>
                    <li class="nav-item"><a class="nav-item-anchor" asp-controller="Home" asp-action="Index">Link</a></li>
                    <partial name="Partials/_LoginInfo"/>
                </ul>
            </nav>
    </div>
</header>