<header>
    <div class="logo-bar">
        <div class="logo">
            <a asp-controller="Home" asp-action="Index">
                <h1>Bike Shop</h1>
            </a>
        </div>
        
        <div class="buttons">
            
            <div class="search">
                <form method="get">
                    <input type="text" placeholder="Search"/>
                </form>
            </div>
            
            <button class="switch-light-dark">
                <i class="fa-sharp fa-solid fa-moon"></i>
                <i class="fa-solid fa-sun hide"></i>
            </button>

            <button class="burger">
                <i class="fa-solid fa-bars"></i>
                <i class="fa-solid fa-xmark hide"></i>
            </button>
            
        </div>
        
    </div>
    
    <nav>
        <ul class="primary-nav">
            <li><a class="padding" asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a class="padding" asp-controller="Home" asp-action="Index">Products</a></li>
            <partial name="Partials/_LoginInfo"/>
            <partial name="Partials/_AdminTab"/>
        </ul> 
    </nav>
    
</header>