@using Microsoft.AspNetCore.Identity
@using BikeShop.Entities
@inject SignInManager<User> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="padding secondary-nav-btn-1">
        <p>My Account</p>
        <div class="secondary-nav-1">
            <form method="post" asp-controller="Account" asp-action="SignOut">
                <button class="nav-btn padding" type="submit">Sign Out</button>
            </form>
        </div>
    </li>
}
else
{
    <li><a class="padding" asp-controller="Account" asp-action="Register">Register</a></li>
    <li><a class="padding" asp-controller="Account" asp-action="Login">Sign in</a></li>
}