@model CreateBikeViewModel

@{
    ViewData["Title"] = "Create Bike";
}

<h1 class="page-info">Create Bike</h1>
<div class="form">
    <form asp-controller="Bike" asp-action="CreateBike" method="post" enctype="multipart/form-data">
        
        <div class="validation-summary" asp-validation-summary="ModelOnly"></div>

        @await Component.InvokeAsync("CategorySelectList", new {categoryType = 1})

        @await Component.InvokeAsync("ColorSelectList")

        <partial name="Partials/_SizeSelectList" model="new SelectSizeViewModel()"/>
        
        <partial name="Partials/_SelectGender" model="new SelectGenderViewModel()"/>
        
        <partial name="Partials/_ProductionYear" model="new ProductionYearViewModel()"/>
        
        <partial name="Partials/_CreateProduct" model="Model"/>
        
        <div class="form-group">
            <input type="submit" value="Create" class="form-field btn"/>
        </div>
    </form>
    <br/>
</div>